@font-face {
  font-family: 'Graphik';
  src: url('/src/assets/fonts/Graphik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/src/assets/fonts/Graphik-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/src/assets/fonts/Graphik-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/src/assets/fonts/Graphik-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
