h2 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

h3 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

h4 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

h5 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.t2 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.t3 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.t4 {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
