<template>
  <div class="care-card flex items-start flex-col p-2 gap-2 bg-white rounded-lg">
    <img :src="care.image" />
    <span class="text-[#64a315] t4">{{ care.title }}</span>
    <h5>{{ care.text }}</h5>
    <button class="go-over-button flex justify-center items-center px-8 py-1 rounded-lg text-white bg-[#64a315]">
      Go over
    </button>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  care: {
    title: string
    text: string
    image: string
  }
}>()
</script>

<style scoped>
.care-card {
  width: 240px;
  height: 256px;
  box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
}

h5 {
  min-height: 2rem;
}

.go-over-button {
  width: 224px;
  height: 40px;
}
</style>
