<template>
  <div class="company-card w-32 grid gap-2">
    <div class="image-container flex items-center justify-center bg-white rounded-lg">
      <img :src="company.logo" :alt="company.name" />
    </div>
    <h4 class="text-center">{{ company.name }}</h4>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  company: {
    name: string
    logo: string
  }
}>()
</script>

<style scoped>
.company-card .image-container {
  height: 80px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.image-container img {
  height: 60px;
  width: auto;
}
</style>
