<template>
  <div>
    <img class="mb-2 rounded-2" :src="news.image" />
    <h3>{{ news.title }}</h3>
    <div class="flex gap-x-2 text-gray-500">
      <span class="t2">{{ news.date }}</span>
      <span class="flex gap-x-0.5 t2">
        <svg class="w-4 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            class="gray-500"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
            class="gray-500"
          ></path>
        </svg>
        {{ news.watched }}
      </span>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  news: {
    title: string
    date: string
    watched: number
    image: string
  }
}>()
</script>

<style scoped>
img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
</style>
