<template>
  <div class="plant-card bg-gray-900">
    <div class="plant-img flex justify-center pb-5">
      <img :src="plant.image" :alt="plant.name" />

      <div class="plant-rating text-white flex items-center">
        <svg
          class="w-3 h-3"
          fill="currentColor"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z"
          ></path>
        </svg>
        <span class="t3">{{ plant.rating }}</span>
      </div>
    </div>

    <div class="plant-body">
      <h4 class="mb-4">{{ plant.name }}</h4>
      <button class="review-button">Review</button>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  plant: {
    name: string
    rating: string
    image: string
  }
}>()
</script>

<style scoped>
.plant-card {
  display: grid;
  grid-template-rows: 90px 110px;
  box-shadow: 0px 2px 4px rgba(17, 24, 39, 0.08);
  border-radius: 8px;
  height: 200px;
}

.plant-img {
  height: 90px;
}

.plant-rating {
  position: absolute;
  transform: translateY(80px);
  background-color: #f59e0b;
  width: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  gap: 2px;
}

.plant-body {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
  gap: 12px;
}

.review-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 32px;
  height: 40px;
  background: #e2fedb;
  border-radius: 8px;
  color: #6ba91a;
  width: 100%;
}
</style>
