<template>
  <footer class="bg-gray-900 text-gray-500 flex items-start px-4 pt-4 pb-6 gap-4">
    <div class="border-2 p-1 border-gray-500 rounded-full gray-500">18+</div>

    <div class="text-gray-500 t4">
      Our website is intended for informational purposes only and is not an advertisement. © 2018 - 2021
    </div>
  </footer>
</template>

<style scoped>
footer {
  height: 120px;
}
</style>
