<template>
  <header class="flex h-5 items-center p-4 bg-gray-900">
    <img src="/images/logos/site.svg" :width="144" :height="30" />

    <div class="flex gap-7 ml-8">
      <button>
        <svg
          class="w-5 h-5 text-white"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          ></path>
        </svg>
      </button>

      <button class="font-medium text-white">PT</button>

      <button @click="setMobileMenuVisibility(!showMobileMenu)">
        <svg
          class="w-6 h-6 text-white"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </header>

  <teleport to="body">
    <section v-if="showMobileMenu" class="mobile-menu">
      <button class="login-button">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
          ></path>
        </svg>
        Sign Up or Log in
      </button>

      <section class="mobile-menu-links" @click="setMobileMenuVisibility(!showMobileMenu)">
        <a href="#plants">Plants and flowers</a>
        <a href="#plants-care">Plant care</a>
        <a href="#news">News</a>
      </section>
    </section>
  </teleport>
</template>

<script setup lang="ts">
import { ref } from 'vue'

const showMobileMenu = ref(false)

const setMobileMenuVisibility = (value: boolean) => {
  if (value) {
    document.querySelector('body')?.classList.add('no-scroll')
    showMobileMenu.value = true
  } else {
    document.querySelector('body')?.classList.remove('no-scroll')
    showMobileMenu.value = false
  }
}
</script>

<style scoped>
header {
  height: 72px;
}

.mobile-menu {
  position: fixed;
  height: 100%;
  background: #111827;
  width: 100%;
  left: 0;
  top: 72px;
  padding: 0 8px;
  color: #ffffff;
}

.mobile-menu-links {
  display: grid;
}

.mobile-menu-links > a {
  padding: 20px 0;
  border-bottom: 1px solid #d1d5db;
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.mobile-menu-links > a:last-child {
  border-bottom: none;
}

.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 100%;
  background: #1f2937;
  border-radius: 8px;
}
</style>
