<template>
  <TheHeader />

  <main class="py-6 px-2">
    <h2 class="text-gray-900 flex items-center mb-4">Recommended for you</h2>

    <section class="overflow-y-hidden flex gap-4 mb-6">
      <CompanyCard v-for="company in companies" :key="company.name" class="flex-none" :company="company" />
    </section>

    <section class="mb-8">
      <div class="info-card flex justify-center py-2 px-4 rounded-lg">
        <div>
          <h3 class="flex items-center text-white">Rubber-bearing ficus (elastic)</h3>
          <span class="t2 text-white/50">Ficus elastica (Ficus elastica), or rubber-bearing ficus...</span>
        </div>
        <img src="/images/flower.png" />
      </div>
    </section>

    <section id="#plants" class="mb-8">
      <div class="flex items-center justify-between mb-4 px-1">
        <h2>Plants and flowers</h2>
        <button class="text-[#6BA91A]"><h4>See all</h4></button>
      </div>

      <section class="grid grid-cols-2 gap-4">
        <PlantCard v-for="plant in plants" :key="plant.name" :plant="plant" />
      </section>
    </section>

    <section id="#plants-care" class="mb-8">
      <div class="flex items-center justify-between mb-4 px-1">
        <h2>Plant care</h2>
        <button class="text-[#6BA91A]"><h4>See all</h4></button>
      </div>

      <section class="flex gap-4 mb-6 overflow-y-hidden">
        <CareCard v-for="care in plantsCare" :key="care.title" :care="care" />
      </section>
    </section>

    <section id="#news" class="news-container">
      <div class="flex items-center justify-between mb-4 px-1">
        <h2>News</h2>
        <button class="text-[#2563EB]"><h4>See all</h4></button>
      </div>

      <section class="news-cards">
        <NewsCard v-for="newsObject in news" :key="newsObject.title" :news="newsObject" />
      </section>
    </section>
  </main>

  <TheFooter />
</template>

<script setup lang="ts">
import CareCard from './components/CareCard.vue'
import CompanyCard from './components/CompanyCard.vue'
import NewsCard from './components/NewsCard.vue'
import PlantCard from './components/PlantCard.vue'
import TheFooter from './components/TheFooter.vue'
import TheHeader from './components/TheHeader.vue'

const companies = [
  {
    name: 'ОБИ',
    logo: '/images/logos/obi.svg',
  },
  {
    name: 'Леруа Мерлен',
    logo: '/images/logos/leroy-merlin.png',
  },
  {
    name: '',
    logo: '',
  },
]

const plants = [
  {
    name: 'Orchid',
    image: '/images/orchid.png',
    rating: '8.0',
  },
  {
    name: 'Pions',
    image: '/images/pions.png',
    rating: '9.0',
  },
  {
    name: 'Aloe',
    image: '/images/aloe.png',
    rating: '5.6',
  },
  {
    name: 'Chrysanthemum',
    image: '/images/chrysanthemum.png',
    rating: '7.5',
  },
]

const plantsCare = [
  {
    title: 'Pots for plants',
    text: 'Flower pot Ingreen ø13 h10. 4 cm v0. 7 L plastic marble',
    image: '/images/plant-care/1.png',
  },
  {
    title: 'Soil source',
    text: 'Geolia soil "For orchids 2.5 L',
    image: '/images/plant-care/2.png',
  },
]

const news = [
  {
    title: 'Indoor flowers and potted plants',
    date: '16.06.21',
    watched: 16,
    image: '/images/news/1.png',
  },
]
</script>

<style scoped>
.info-card {
  background: linear-gradient(180deg, #cbd623 0%, #41701e 100%);
}
</style>
